/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://weloveiconfonts.com/api/?family=typicons);

/*basic reset*/
* {margin: 0; padding: 0;}


body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}


/*button za formata*/
#add_form{
  position: fixed !important;
  top: 60px !important;
  left: 1px !important;
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #B3E2E4 !important;
  border-radius: 12px !important;
  background-color: #60CCB3 !important;
  display: table !important;
  vertical-align: middle !important;
  z-index: 10000 !important;
  overflow: hidden !important;
  cursor: pointer !important;
  font-size: 40px !important;
  color: #ffffff !important;
}
/*************/
.web_dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .60;
  filter: alpha(opacity=15);
  -moz-opacity: .15;
  z-index: 101;
  display: none;
}
.web_dialog {
  display: none;
  position: fixed;
  width: 570px;
  height: 500px;
  top: 25%;
  left: 50%;
  margin-left: -290px;
  margin-top: -96px;
  padding: 0px;
  z-index: 102;
  font-size: 10pt;
 
}
.container{
/*display: none;*/
  position: fixed;
  width: 570px;
  height: 500px;
  top: 25%;
  left: 50%;
  margin-left: -290px;
  margin-top: -96px;
  padding: 0px;
  z-index: 102;
  font-size: 10pt;
}
/*********AVATAR***********/


/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}


.avatar{
  position: relative;
  margin: 50px auto;
  width: 128px;
  height: 128px;
  display:none;
}

.avatar img{
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 1px 1px #000;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.45s;
}

.menu{
  background: rgb(254, 148, 0);
  border-radius: 2px 0 0 2px;
  box-shadow: 0px 1px 1px #000;
  padding: 4px 0;
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
}

.menu div{
  background: rgba(55, 55, 55, 1);
  border-radius: 2px;
  margin: 1px 5px;
  width: 20px;
  height: 4px;
  transition: height 0.45s;
}

.menu:hover > div{
  height: 1px;
}

.menu:hover + img{
  opacity:0.4;
}

.menu > a{
  color: rgba(35, 35, 35, 0.5);
  display: block;
  text-align: center;
  font-size: 0em;
  padding: 0;
  transition: padding 0.1s;
}

.menu:hover > a{
  font-size: 1em;
  padding: 5px 0 0 0;
}

.menu > a:hover{
  color: rgba(35, 35, 35, 1);
  transition: color 0.1s;
}

