@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/LayoutLanding.cshtml";

}
<<<<<<< HEAD
<div id="wrapper">
  
    <header>
        <ul>
            <li>
                gdauhda
            </li>
            <li>
                gdauhda
            </li>
            <li>
                gdauhda
            </li>
        </ul>
    </header>
   
        <div id="Fader" class="fader">
            <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-pingpong2-800x500.jpg" />
            <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bookcase-800x500.jpg" />
            <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bikerack-800x500.jpg" />
            <div class="fader_controls">
                <div class="page prev" data-target="prev">&lsaquo;</div>
                <div class="page next" data-target="next">&rsaquo;</div>
                <ul class="pager_list"></ul>
            </div>
        </div>

        <!-- The registration form -->
        <div class="register">
            <form class="form" action="#">

                <fieldset class="form-fieldset ui-input __first">
                    <input type="text" id="username" tabindex="0" />
                    <label for="username">
                        <span data-text="Username">Username</span>
                    </label>
                </fieldset>

                <fieldset class="form-fieldset ui-input __second">
                    <input type="email" id="email" tabindex="0" />
                    <label for="email">
                        <span data-text="E-mail Address">E-mail Address</span>
                    </label>
                </fieldset>

                <fieldset class="form-fieldset ui-input __third">
                    <input type="password" id="new-password" />
                    <label for="new-password">
                        <span data-text="New Password">New Password</span>
                    </label>
                </fieldset>

                <fieldset class="form-fieldset ui-input __fourth">
                    <input type="password" id="repeat-new-password" />
                    <label for="repeat-new-password">
                        <span data-text="Repeat New Password">Repeat New Password</span>
                    </label>
                </fieldset>

                <div class="form-footer">
                    <input type="submit" class="btn" value="Create Account" />
                </div>
            </form>
        </div>
    
    </div>
=======

<div id="Fader" class="fader">
    <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-pingpong2-800x500.jpg" />
    <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bookcase-800x500.jpg" />
    <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bikerack-800x500.jpg" />
    <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list"></ul>
    </div>
</div>

<!-- The registration form -->
<div class="register">
    <form class="form" action="#">

        <fieldset class="form-fieldset ui-input __first">
            <input type="text" id="username" tabindex="0" />
            <label for="username">
                <span data-text="Username">Username</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __second">
            <input type="email" id="email" tabindex="0" />
            <label for="email">
                <span data-text="E-mail Address">E-mail Address</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __third">
            <input type="password" id="new-password" />
            <label for="new-password">
                <span data-text="New Password">New Password</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __fourth">
            <input type="password" id="repeat-new-password" />
            <label for="repeat-new-password">
                <span data-text="Repeat New Password">Repeat New Password</span>
            </label>
        </fieldset>

        <div class="form-footer">
            <input type="submit" class="btn" value="Create Account" />
        </div>
    </form>
</div>
>>>>>>> parent of 945a2a4... Button fix
