@model BookMyFamily.Models.Account

@{
    ViewBag.Title = "Profile";
}


<style>
    #wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #profile_image img {
        -webkit-transition: 2s;
    }

        #profile_image img.clicked {
            margin-left: 500px;
        }

    #profile_hover.float_div {
        margin-right: 700px;
    }

    #profile_hover.float_div {
        -webkit-transition: 10s;
    }

    #profile_image {
        margin-left: 350px;
        width: 100px;
        position: relative;
        cursor: pointer;
        margin-top: 160px;
    }

    #profile_hover {
        width: 50%;
        display: none;
        position: relative;
        left: 0%;
        -moz-animation: slide 1s ease 3.5s forwards;
        -webkit-animation: slide 1s ease 3.5s forwards;
        -o-animation: slide 1s ease 3.5s forwards;
        -ms-animation: slide 1s ease 3.5s forwards;
        animation: slide 1s ease 3.5s forwards;
        background-color: #0094ff;
        text-align: center;
        padding: 50px;
        height: 100%;
        -webkit-border-radius: 0px 92px 86px 0px;
        -moz-border-radius: 0px 92px 86px 0px;
        border-radius: 0px 92px 86px 0px;
        background: rgba(138,227,156,0.5);
        -webkit-box-shadow: #B3B3B3 4px 4px 4px;
        -moz-box-shadow: #B3B3B3 4px 4px 4px;
        box-shadow: #B3B3B3 4px 4px 4px;
    }

    #hidden_wrapper {
        position: fixed;
        top: 200px;
        left: 0px;
        width: 100%;
    }
</style>
<div id="wrapper">
    <div id="hidden_wrapper">

        <div id="profile_hover">
            Full Name:<span id="fullname">@Model.User.Name</span><br />
            Education:<span id="profile_edu"></span><br />
            Working Experience: <span id="profile_work"></span><br />
            Address: <span id="prfile_address">@Model.User.Location</span><br />
            <span>Gallery</span>
        </div>
    </div>
    <div id="profile_image">
        <img src="~/Content/img/icon.png" />
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>

<script>
    $('#profile_image img').on('click', function () {
        $(this).toggleClass('clicked');
        if ($("#profile_hover").css("display") == "none") {
            $("#profile_hover").toggle(1500);
        }
        else if 
           ($("#profile_hover").css("display") == "block") {
            $("#profile_hover").fadeToggle('slow');

        }
        else {
            $("#profile_hover").css("display", "none");

        }
    });
</script>