@{
    ViewBag.Title = "LogIn";
}
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/animation.css" rel="stylesheet" />
<form id="msform">
    
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Log In</h2>
        <input type="text" name="username" class="form-control" placeholder="Username" />
        <input type="password" name="pass" class="form-control" placeholder="Password" />
        <input type="button" name="next" class="next action-button" value="LogIn" />
        <input type="button" name="next" class="next action-button" value="Cancel" />
    </fieldset>
</form>